config HOOKERS
       tristate "Hooker service"
       default m
       depends on X86 || ARM64
       depends on INET
       ---help---
       Allow replacing and restore the function pointer in any order.
       See include/linux/hookers.h for details.

       Say m if unsure.
